
<!-- Gallery -->
<div class="container-fluid website-background-n">
  <div class="row">
    <a href="/work/kask" class="col-lg-4 col-md-6 col-sm-12 my-2">
      <div class="card bg-black">
        <img src="https://cdnb.artstation.com/p/assets/images/images/050/911/599/large/santiago-tomassi-kask1-162.jpg?1655989207"
          class="boxs w-75 shadow-1-strong rounded" alt="dawd" />
        <span style="color: white;">kask</span>
      </div>
    </a>

    <a href="/work/roboto" class="col-lg-4 col-md-6 col-sm-12 my-2">
      <div class="card bg-black">
        <img src="https://cdnb.artstation.com/p/assets/images/images/050/822/849/large/santiago-tomassi-roboto-3.jpg?1655782470"
          class="boxs w-75 shadow-1-strong rounded" alt="Mountains in the Clouds" />
          <span style="color: white;">kask</span>
      </div>
    </a>

    <a href="/work/blackapa" class="col-lg-4 col-md-6 col-sm-12 my-2">
      <div class="card bg-black">
        <img src="https://cdna.artstation.com/p/assets/images/images/053/388/426/large/santiago-tomassi-img-4205.jpg?1662075182"
          class="boxs w-100 shadow-1-strong rounded" alt="Waves at Sea" />
          <span style="color: white;">kask</span>
      </div>
    </a>

    <a href="/work/umbrella" class="col-lg-4 col-md-6 col-sm-12 my-2">
      <div class="card bg-black">
        <img src="https://cdnb.artstation.com/p/assets/images/images/052/036/859/large/santiago-tomassi-img-3492.jpg?1658798703"
          class="boxs w-100 shadow-1-strong rounded" alt="Yosemite National Park" />
          <span style="color: white;">kask</span>
      </div>
    </a>

    <a href="/work/ppp" class="col-lg-4 col-md-6 col-sm-12 my-2">
      <div class="card bg-black">
        <img src="https://cdnb.artstation.com/p/assets/images/images/055/223/469/large/santiago-tomassi-ppp.jpg?1666414639"
          class="boxs w-100 shadow-1-strong rounded" alt="Boat on Calm Water" />
          <span style="color: white;">kask</span>
      </div>
    </a>

    <a href="/work/arboleda" class="col-lg-4 col-md-6 col-sm-12 my-2">
      <div class="card bg-black">
        <img src="https://cdnb.artstation.com/p/assets/images/images/057/680/969/large/santiago-tomassi-19fe629c-2783-46c1-94b3-e5201fdd5e70.jpg?1672341394"
          class="boxs w-100 shadow-1-strong rounded" alt="Boat on Calm Water" />
          <span style="color: white;">kask</span>
      </div>
    </a>

    <a href="/work/snak3" class="col-lg-4 col-md-6 col-sm-12 my-2">
      <div class="card bg-black">
        <img src="https://cdna.artstation.com/p/assets/images/images/050/911/938/large/santiago-tomassi-img-2385.jpg?1655989384"
          class="boxs w-75 shadow-1-strong rounded" alt="Boat on Calm Water" />
          <span style="color: white;">kask</span>
      </div>
    </a>

    <a href="/work/mouse" class="col-lg-4 col-md-6 col-sm-12 my-2">
      <div class="card bg-black">
        <img src="https://cdna.artstation.com/p/assets/images/images/052/539/774/large/santiago-tomassi-123.jpg?1660062899"
          class="boxs w-75 shadow-1-strong rounded" alt="Boat on Calm Water" />
          <span style="color: white;">kask</span>
      </div>
    </a>

    <a href="/work/heads4" class="col-lg-4 col-md-6 col-sm-12 my-2">
      <div class="card bg-black">
        <img src="https://cdna.artstation.com/p/assets/images/images/056/323/384/large/santiago-tomassi-img-6160.jpg?1668980788"
          class="boxs w-75 shadow-1-strong rounded" alt="Boat on Calm Water" />
          <span style="color: white;">kask</span>
      </div>
    </a>

    <a href="/work/panther" class="col-lg-4 col-md-6 col-sm-12 my-2">
      <div class="card bg-black">
        <img src="https://cdna.artstation.com/p/assets/images/images/052/188/922/large/santiago-tomassi-img-3632.jpg?1659167361"
          class="boxs w-100 shadow-1-strong rounded" alt="Boat on Calm Water" />
          <span style="color: white;">kask</span>
      </div>
    </a>

    <a href="/work/crunchcarmel" class="col-lg-4 col-md-6 col-sm-12 my-2">
      <div class="card bg-black">
        <img src="https://cdnb.artstation.com/p/assets/images/images/052/183/613/large/santiago-tomassi-1-1.jpg?1659141071"
          class="boxs w-100 shadow-1-strong rounded" alt="Boat on Calm Water" />
          <span style="color: white;">kask</span>
      </div>
    </a>

    <a href="/work/owl" class="col-lg-4 col-md-6 col-sm-12 my-2">
      <div class="card bg-black">
        <img src="https://cdna.artstation.com/p/assets/images/images/050/101/156/large/santiago-tomassi-owl2-87.jpg?1654064193"
          class="boxs w-75 shadow-1-strong rounded" alt="Boat on Calm Water" />
          <span style="color: white;">kask</span>
      </div>
    </a>
  </div>
</div>
<!-- Gallery -->
