<style>html,body{position:var(--position-relative);height:var(--height-100);}body{background:var(--background-color);font-family:var(--font-family);font-size:var(--font-size-14);color:var(--color-black);margin:var(--margin-0);padding:var(--padding-0);}swiper-container{width:var(--swiper-container-width);height:var(--swiper-container-height);}swiper-slide{text-align:var(--text-align-center);font-size:var(--font-size-18);background:var(--background-color-black);display:var(--display-flex);justify-content:var(--justify-content-center);align-items:var(--align-items-center);}swiper-slide img{display:var(--display-block);width:auto;height:auto;object-fit:var(--object-fit-cover);}.mySwiper2{height:var(--mySwiper2-height);box-sizing:var(--box-sizing-border-box);padding:var(--padding-10) 0;}.mySwiper2 swiper-slide{width:var(--width-25);height:var(--height-100);opacity:var(--opacity-04);}.mySwiper2 .swiper-slide-thumb-active{opacity:var(--opacity-1);}</style>
<body>
  <swiper-container class="mySwiper" pagination="true" pagination-type="progressbar" mousewheel="true" keyboard="true" direction="vertical" thumbs-swiper=".mySwiper2">
    <swiper-slide><img src="https://cdnb.artstation.com/p/assets/images/images/050/822/849/large/santiago-tomassi-roboto-3.jpg?1655782470"></swiper-slide>
    <swiper-slide><img src="https://cdnb.artstation.com/p/assets/images/images/050/822/855/large/santiago-tomassi-roboto-6.jpg?1655782188"></swiper-slide>
    <swiper-slide><img src="https://cdna.artstation.com/p/assets/images/images/050/822/860/large/santiago-tomassi-roboto-9.jpg?1655782200"></swiper-slide>
    <swiper-slide><img src="https://cdna.artstation.com/p/assets/images/images/050/822/852/large/santiago-tomassi-roboto-5.jpg?1655782176"></swiper-slide>
    <swiper-slide><img src="https://cdna.artstation.com/p/assets/images/images/050/822/862/large/santiago-tomassi-roboto-11.jpg?1655782214"></swiper-slide>
    <swiper-slide><img src="https://cdna.artstation.com/p/assets/images/images/050/822/864/large/santiago-tomassi-roboto-12.jpg?1655782226"></swiper-slide>
    <swiper-slide><img src="https://cdna.artstation.com/p/assets/images/images/050/822/866/large/santiago-tomassi-roboto-13.jpg?1655782237"></swiper-slide>
    <swiper-slide><img src="https://cdnb.artstation.com/p/assets/images/images/050/822/869/large/santiago-tomassi-roboto-14.jpg?1655782249"></swiper-slide>
    <swiper-slide><img src="https://cdnb.artstation.com/p/assets/images/images/050/822/877/large/santiago-tomassi-girlsnak8k-136-copia-2.jpg?1655782276"></swiper-slide>
    <swiper-slide><img src="https://cdna.artstation.com/p/assets/images/images/050/822/880/large/santiago-tomassi-roboto-2.jpg?1655782288"></swiper-slide>
    <swiper-slide><img src="https://cdna.artstation.com/p/assets/images/images/050/822/892/large/santiago-tomassi-roboto-1.jpg?1655782340"></swiper-slide>
  </swiper-container>
  <swiper-container class="mySwiper2" space-between="10" slides-per-view="4" free-mode="true"
      watch-slides-progress="true">
      <swiper-slide><img src="https://cdnb.artstation.com/p/assets/images/images/050/822/849/large/santiago-tomassi-roboto-3.jpg?1655782470"></swiper-slide>
      <swiper-slide><img src="https://cdnb.artstation.com/p/assets/images/images/050/822/855/large/santiago-tomassi-roboto-6.jpg?1655782188"></swiper-slide>
      <swiper-slide><img src="https://cdna.artstation.com/p/assets/images/images/050/822/860/large/santiago-tomassi-roboto-9.jpg?1655782200"></swiper-slide>
      <swiper-slide><img src="https://cdna.artstation.com/p/assets/images/images/050/822/852/large/santiago-tomassi-roboto-5.jpg?1655782176"></swiper-slide>
      <swiper-slide><img src="https://cdna.artstation.com/p/assets/images/images/050/822/862/large/santiago-tomassi-roboto-11.jpg?1655782214"></swiper-slide>
      <swiper-slide><img src="https://cdna.artstation.com/p/assets/images/images/050/822/864/large/santiago-tomassi-roboto-12.jpg?1655782226"></swiper-slide>
      <swiper-slide><img src="https://cdna.artstation.com/p/assets/images/images/050/822/866/large/santiago-tomassi-roboto-13.jpg?1655782237"></swiper-slide>
      <swiper-slide><img src="https://cdnb.artstation.com/p/assets/images/images/050/822/869/large/santiago-tomassi-roboto-14.jpg?1655782249"></swiper-slide>
      <swiper-slide><img src="https://cdnb.artstation.com/p/assets/images/images/050/822/877/large/santiago-tomassi-girlsnak8k-136-copia-2.jpg?1655782276"></swiper-slide>
      <swiper-slide><img src="https://cdna.artstation.com/p/assets/images/images/050/822/880/large/santiago-tomassi-roboto-2.jpg?1655782288"></swiper-slide>
      <swiper-slide><img src="https://cdna.artstation.com/p/assets/images/images/050/822/892/large/santiago-tomassi-roboto-1.jpg?1655782340"></swiper-slide>
  </swiper-container>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
</body>
