
<!-- Gallery -->
<div class="container-fluid website-background-n">
  <div class="row">

      <a href="/about/show"class="col-3 my-3 pt-2">
        <img
            src="https://cdnb.artstation.com/p/assets/images/images/050/911/599/large/santiago-tomassi-kask1-162.jpg?1655989207"
            class="boxs w-100 shadow-1-strong rounded mb-4"
            alt="dawd"
        />
      </a>
    <a href="link address" class="col-3 my-3 pt-2">
          <img
            src="https://cdnb.artstation.com/p/assets/images/images/050/822/849/large/santiago-tomassi-roboto-3.jpg?1655782470"
            class="boxs w-100 shadow-1-strong rounded mb-4"
            alt="Mountains in the Clouds"
          />
    </a>

    <a href="link address" class="col-3 my-3 pt-2">
          <img
            src="https://cdna.artstation.com/p/assets/images/images/053/388/426/large/santiago-tomassi-img-4205.jpg?1662075182"
            class="boxs w-100 shadow-1-strong rounded mb-4"
            alt="Waves at Sea"
          />
    </a>
    <a href="link address" class="col-3 my-3 pt-2">
        <img
          src="https://cdnb.artstation.com/p/assets/images/images/052/036/859/large/santiago-tomassi-img-3492.jpg?1658798703"
          class="boxs w-100 shadow-1-strong rounded mb-4"
          alt="Yosemite National Park"
        />
    </a>
    <a href="link address" class="col-3 my-3 pt-2">
        <img
          src="https://cdnb.artstation.com/p/assets/images/images/055/223/469/large/santiago-tomassi-ppp.jpg?1666414639"
          class="boxs w-100 shadow-1-strong rounded"
          alt="Boat on Calm Water"
        />
    </a>
    <a href="link address" class="col-3 my-3 pt-2">
          <img
            src="https://cdna.artstation.com/p/assets/images/images/054/718/454/large/santiago-tomassi-1a558556-a01e-4e8b-99c6-f6f84a1c6db0.jpg?1665187795"
            class="boxs w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water"
          />
    </a>
  </div>
</div>
<!-- Gallery -->
