<body class="container-fluid d-flex" pagination="true" pagination-type="progressbar" style="height: 100vh; width:100vw; background-color: #000000;">
  <div class="container-fluid align-self-center p-0 m-0" style="height: 100%; width: 100%;">
    <div class="d-flex h-100 w-100 align-items-center">
      <div class="d-grid h-100 align-items-center" style="width:10%;">
        <i class="fa-brands fa-twitter" style="font-size: 100%;"></i>
        <i class="fa-brands fa-instagram" style="font-size: 100%;"></i>
        <i class="fa-regular fa-file-pdf"></i>
      </div>
      <p class="card text-center py-1 px-5 my-4 mx-2 bg-transparent" style="overflow-y: scroll; width:85%;height: 90%;">Hi, my name is
          Santiago (25).
          Argentinian.
          Intermediate English &
          Native Spanish.
          Certified Ruby on Zbrush Modeler - Le
          Wagon.
          COURSE - Hard Surface C4D & Zbrush, Luis
          Gayoso.
          Foundation degree of design,
          DESINDARG Academy.
          Bachelor of Industrial Design (Final thesis, WIP), National
          University of Córdoba, Argentina.
          COURSE - Creating characters with ZBrush
          and Cinema4D, Zigor Samaniego.
          CERTIFICATIONS SUMMARY
          EDUCATION.
          INDUSTRY EXPERIENCE


          Freelance 3D modeler, Level 3 seller on Fiverr ( 2018-2021 )
          Seller on the platform for 3 years, doing all kinds of modeling, objects,
          characters, and 3D printing pieces.
          Industrial designer intership ( 2019-2021 )
          Internship at EN BRUTO Design studio in Córdoba, Argentina, as a CAD
          modeler for furniture, Solidworks being the most used software.
          3D modeler & Drop designer at MUSURE WORLD (2022)
          Worked as an independent Designer, Modeler, and Texture artist for Drop,
          for the release of mystery boxes and clothing to be used in the Metaverse,
          The drop launch was made on OpenSea.
          Winner design contest for the band music RED HOT CHILLI PEPPERS
          (2023)
          Desinged the looping animation for Red Hot Chili Peppers
      </p>

    </div>
  </div>
</body>
<style>
  i:hover {
    color: #A34E00;
  }
  p {
    color:white;
    font-family:'Semibold';
    font-size:25px;
  }
    ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #000;
  }
  ::-webkit-scrollbar-thumb {
    background: #A34E00;
    border-radius: 4px;
  }

</style>
